<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.android.wwh.picture"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.android.wwh.picture.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".photowall.PhotoWallActivity"/>
        <activity android:name=".photowallfalls.PhotoWallFallsActivity"/>
        <activity android:name=".photowallfalls.ImageDetailActivity"/>
        <activity android:name=".disklrucache.DiskLruCacheActivity"/>
        <activity android:name=".photowallfullversion.PhotoWallFullVersionActivity"/>
        <activity android:name=".handlerimageloader.HandlerImageLoaderActivity"/>
        <activity android:name=".pictureselector.imageloader.PictureSelectorActivity"/>
        <activity android:name=".networkimageloader.NetworkImageLoaderActivity"/>

    </application>

</manifest>